@media (max-width: 400px) {
    main {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
    }

    .section1 {
        width: 300px;
        margin-bottom: 10px;
        border-radius: 8px;
    }

    .section2 {
        width: 320px;
        height: 200px;
        box-sizing: border-box;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .estadisticas {
        height: 50px;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    button {
        width: 70px;
        height: 60px;
    }

    footer {
        display: flex;
        width: 90%;
        height: 100px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    footer p {
        font-size: 14px;
    }

    #reiniciar {
        height: 40px;
    }

    a {
        font-size: 14px;
    }
}